- limit = 3

.container
  .page-header
    %h1= @title

  %script(src="/main.js")

  %nav
    %ul.pager
      - if !params[:all]
        %li
          %a(href="/index/#{@offset+limit}")
            &laquo; Older
        %li
          %a(href="/index/#{@offset}?all=1")
            All
        - if @offset - limit > 0
          %li
            %a(href="/index/#{@offset-limit}")
              Newer &raquo;
        - if @offset - limit <= 0 && @offset != 0
          %li
            %a(href="/")
              Newer &raquo;
      - else
        %li
          %a(href="/index/#{@offset+limit}?all=1")
            &laquo; Older
        %li
          %a(href="/index/#{@offset}")
            Enabled only
        - if @offset - limit > 0
          %li
            %a(href="/index/#{@offset-limit}?all=1")
              Newer &raquo;
        - if @offset - limit <= 0 && @offset != 0
          %li
            %a(href="/?all=1")
              Newer &raquo;

  - now = Time.now
  - Target.order(:range).where(@target_cond).to_a.group_by{|t| t.group}.each.with_index do |(group, targets), idx|
    %h2= group
    %table.table.table-condensed
      %tr
        %th
        - targets.each do |target|
          %th
            %a(href="/target/#{target.range}/#{@offset == 0 ? '' : @offset}")
              = target.range_with_min_max
      - (@offset+limit-1).downto(@offset).each do |n|
        %tr
          %th.text-right= (Date.today-n).strftime("%Y-%m-%d (%a)")
          - targets.each do |target|
            %td
              - results = target.all_results(created_at: now.days_ago(n).all_day)
              - if results[:results].size != 0
                %canvas(id="canvas-#{target.id}-#{n}")
                  :javascript
                    drawResults("canvas-#{target.id}-#{n}", "info-#{idx}", #{results.to_json})
    .hover-info(id="info-#{idx}")
