- limit = 7

.container
  .page-header
    %h1= @title

  %script(src="/main.js")

  %nav
    %ul.pager
      %li
        %a(href="/target/#{@target.range}/#{@offset+limit}")
          &laquo; Older
      %li
        - if @offset != 0
          %a(href="/index/#{@offset}")
            Index
        - else
          %a(href="/")
            Index
      - if @offset - limit > 0
        %li
          %a(href="/target/#{@target.range}/#{@offset-limit}")
            Newer &raquo;
      - elsif @offset - limit == 0
        %li
          %a(href="/target/#{@target.range}/")
            Newer &raquo;

  - now = Time.now
  - offset = @offset
  %table.table.table-condensed
    - (offset+limit-1).downto(offset) do |n|
      - day = now.days_ago(n)
      %tr
        %td
          - results = @target.all_results(created_at: day.all_day)
          - if results[:results].size != 0
            %canvas(id="canvas-#{n}")
              :javascript
                drawResults("canvas-#{n}", "info-#{n}", #{results.to_json})
        %td
          = day.strftime('%Y-%m-%d (%a)')
          .hover-info(id="info-#{n}")
